<main class="order">

    <section class="banner">
        <img [src]="imgUrll" alt="" />
    
        <div class="ordertext">
          <h1>ORDER ONLINE</h1>
    
          <h4>MENU</h4>
        </div>

      
            <h4 class="sec">PIZZAS</h4>
            <h4 class="sed">ANTIPASTI
            </h4>
    
      </section>

      <section class="forbook">
         
        <h3>Menu</h3>


        <h4>
            ANTIPASTI
        </h4>
       
        <div class="cards">
            <div class="card" >
                <h3>HOUSE ANTIPASTI</h3>
                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
            <div class="card">
                <h3>FRESH ARUGULA</h3>
                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
            <div class="card">
                <h3>CAPRESE</h3>
                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
            <div class="card">
                <h3>PANZANELLA</h3>

                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
        </div>
      </section>


      <section class="pizzas"> 
        <h3>PIZZA</h3>
        <h4>This is a section of your menu. Give your section a brief description</h4>

        <div class="cards">
            <div class="card">
                <h3>MARGHERITA</h3>
                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
            <div class="card">
                <h3>FUNGHI</h3>
                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
            <div class="card">
                <h3>ARTICHOKE</h3>
                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
            <div class="card">
                <h3>MARINARA</h3>

                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
            <div class="card">
                <h3>PROSCIUTTO</h3>

                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
            <div class="card"  (click)="forbook()">
                <h3>PEPPERONI</h3>

                <p>This is an item on your menu. Give your item a brief description 
                    <br> 
                    9$
                </p>
            </div>
        </div>
      </section>

     

<app-footer></app-footer>
</main>
