


<footer> 
    <div class="left">
        <mat-icon style="font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
         width: 100%;
         border-radius: 50%;
         max-width: 50px;
         height: 40px;
         margin: auto;
         padding-right: 20px;
      
       
        
        ">facebook</mat-icon>
       
           <h5> © 2035 by The Pizza Shop. Powered and secured by Wix</h5>
      

    </div>
    <div class="right">
        

        <div class="sub"> 
            <h3>
                Join Our Mailing List
            </h3>
            <input type="text" placeholder="Enter your email">
            <button>Subscribe Now</button>
        </div>




        <div class="chatbox">
            <mat-icon  style="color: white;"> chat_bubble</mat-icon>
        </div>
    </div>
</footer>
