
@media screen and (max-width: 625px) {
     
    footer {
        display: grid;
        grid-template-columns: 1fr;

        .left {

            h5 {
                display: block;
            }
        }
    }
}