$lobster-font: "Lobster", sans-serif;
$monserat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$best: "fantasy", "san-serif";

main {
  width: 100%;
  height: 100vh;

  .reservation {
    width: 100%;
    height: 100%;
    padding-top: 64px;

    .forres {
      width: 100%;
      max-width: 700px;
      margin: auto;
      padding-bottom: 40px;

      h1 {
        width: 100%;
        height: auto;
        font-size: 40px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
      }
      h6 {
        width: 100%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 10px;
      }
      .fortime {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .date {
          width: 212px;
          height: 100%;

          box-sizing: border-box;

          input {
            width: 100%;
            background-color: rgb(227, 227, 227);
            flex: auto;
            height: 50px;
            border: none;
            outline: none;

            &:hover {
              transition: 1s linear;
              border-bottom: 2px solid blue;
            }
          }

          label {
            display: block;
            font-size: 15px;
            color: red;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
          }
        }
      }
      .line {
        width: 100%;
        height: 2px;
        background-color: rgb(94, 90, 90);
        display: inline-block;
        margin-top: 70px;
      }
      .pics {
        max-width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        box-sizing: border;
        position: relative;
        padding-top: 120px;

        div {
          max-width: 100%;
          img {
            width: 100%;
            height: 200;
            object-fit: cover;
            object-position: center;
            position: relative;
            column-gap: 10px;
            row-gap: 10px;
          }
        }
      }

      .fortext {
        width: 100%;
       padding-top: 50px;
        height: auto;
        
        h6 {
          max-width: 600px;
         text-align: center;
          margin: auto;
          font-size: 20px;
          font-family: $lobster-font;
          color: rgb(93, 52, 52);
        }
      }

      h5 {
        font-size: 13px;
        text-align: start;
        padding-top: 100px;
      }
      .fordivs {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 3fr);
        row-gap: 10px;
        column-gap: 10px;
        padding-top: 10px;

        .timer {
          max-width: 150px;
          max-height: 50px;
          border: 1px solid rgb(114, 114, 120);

          transition: 1s linear;

          &:hover {
            background-color: rgba(0, 0, 0, 0.45);
          }

          a {
            text-decoration: none;
            color: rgb(91, 44, 44);
            p {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      height: 300px;
      background-color: black;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 100px 0px 100px 0px;
      color: white;

      .left {
        width: 100%;

        h5 {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          font-size: 15px;
          padding-top: 20px;
          text-align: center;
        }
      }
      .right {
        width: 100%;

        h3 {
          font-size: 16px;
          font-weight: 500;
          margin: auto;
          padding-bottom: 10px;
        }
        .sub {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 1fr;

          input {
            width: 250px;
            height: 30px;
            margin: auto;
            border: 1px solid white;
            outline: none;
            color: white;
            background-color: black;

            &:hover {
              border: none;
              transition: 2s ease;
            }
          }
          button {
            width: 250px;
            height: 30px;
            border: 1px solid white;
            outline: none;
            margin: auto;
            cursor: pointer;
            margin-top: 20px;
            background-color: black;
            color: white;

            &:hover {
              border: none;
              transition: 2s ease;
            }
          }
          ::-webkit-input-placeholder {
            padding-left: 15px;
            color: white;
          }
        }
        mat-icon {
          right: 0;
          bottom: 0;
          position: fixed;
          width: 50px;
          height: 50px;
          background-color: rgb(62, 42, 42);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
