<main>
  <section class="reservation">
    <div class="forres">
      <h1>MAKE A RESERVATION</h1>
      <h6>
        To help us find the best table for you, select the preferred party size,
        date, and time of your reservation.
      </h6>

      <div class="fortime">
        <div class="date">
          <mat-form-field style="padding-top: 17px">
            <mat-label>party size</mat-label>
            <mat-select id="date">
              <mat-option value="one">1 guests</mat-option>
              <mat-option value="two">2 guests</mat-option>
              <mat-option value="two">3 guests</mat-option>
              <mat-option value="two">4 guests</mat-option>
              <mat-option value="two">5 guests</mat-option>
              <mat-option value="two">6 guests</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="date">
          <label style="font-family: lobster-font" for="">Date</label>
          <input id="date" type="date" placeholder="date" />
        </div>

        <div class="date">
          <label for="Time">Time</label>
          <input type="time" id="time" />
        </div>
      </div>

      <span class="line"> </span>

      <div class="pics">
        <div>
          <img [src]="imageUrl3" alt="" />
        </div>
        <div>
          <img [src]="imageUrl4" alt="" />
        </div>
        <div>
          <img [src]="imageUrl5" alt="" />
        </div>
        <div>
          <img [src]="imageUrl6" alt="" />
        </div>
        <div>
          <img [src]="imageUrl7" alt="" />
        </div>
        <div>
          <img [src]="imageUrl8" alt="" />
        </div>
        <div>
          <img [src]="imageUrl9" alt="" />
        </div>
        <div>
          <img [src]="imageUrl10" alt="" />
        </div>
        <div>
          <img [src]="imageUrl11" alt="" />
        </div>
        <div>
          <img [src]="imageUrl12" alt="" />
        </div>
      </div>
      <div class="fortext">
        <h6>
          I'm a paragraph. Click here to add your own text and edit me. It’s
          easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font. Feel free to drag and drop me
          anywhere you like on your page. I'm a great place for you to tell a
          story and let your users know a little more about you.
        </h6>
      </div>

      <h5>Choose an available time slot:</h5>

      <div class="fordivs">
        <div class="timer">
          <a routerLink="/order">
            <p>6:00pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>6:15pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>6:30pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>6:45pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>7:00pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>7:15pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>7:30pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>7:45pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>8:30pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>8:45pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>9:00pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>9:15pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>9:30pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>9:45pm</p>
          </a>
        </div>
        <div class="timer">
          <a routerLink="/order">
            <p>10:00pm</p>
          </a>
        </div>
      </div>
    </div>
    <footer>
      <div class="left">
        <mat-icon
          style="
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 50%;
            max-width: 50px;
            height: 40px;
            margin: auto;
            padding-right: 20px;
          "
          >facebook</mat-icon
        >

        <h5>© 2035 by The Pizza Shop. Powered and secured by Wix</h5>
      </div>

      <div class="right">
        <div class="sub">
          <h3>Join Our Mailing List</h3>
          <input type="text" placeholder="Enter your email" />
          <button>Subscribe Now</button>
        </div>

        <div class="chatbox">
          <mat-icon style="color: white"> chat_bubble</mat-icon>
        </div>
      </div>
    </footer>
  </section>
</main>
